* {
  margin: 0;
  padding: 0;
}
.slider-wrapper {
  display: grid;
  grid-template-columns: 1fr 14fr 1fr;
  margin: 0 auto;
}
img {
  width: 100%;
  height: auto;
}
.button {
  background: white;
  font-size: 4em;
  color: lightcoral;
  display: grid;
  align-content: center;
  font-weight: bold;
  border: none;
}
.button:active {
  background: rgb(92, 86, 36);
}
.default-img {
  max-width: 75vmax;
  max-height: 200px;
}

@media (min-width: 682px) {
  .slider-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .default-img {
    max-width: 90vmax;
  }
}