.slider-wrapper {
  display: grid;
  grid-template-columns: 1fr 14fr 1fr;
  margin: 0 auto;
}
img {
  width: 100%;
  height: auto;
}
.button {
  background: lemonchiffon;
  font-size: 4em;
  color: lightcoral;
  display: grid;
  align-content: center;
  font-weight: bold;
  border: none;
}
.button:active {
  background: rgb(92, 86, 36);
}
.default-img {
  background: lavenderblush;
  max-width: 75vmax;
}

@media (min-width: 682px) {
  .default-img {
    max-width: 90vmax;
  }
}